<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCLx4esa1pP_EuF6FuiQ7OB7WcmmCSdmFE</string>
	<key>GCM_SENDER_ID</key>
	<string>297313464120</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seanjwalker.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-sjwalker</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-sjwalker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297313464120:ios:4b368d3e9fb70da06d9bcd</string>
</dict>
</plist>